table, th, td{
    border: 0.5px dotted rgb(3, 143, 3);
    border-radius: 1em;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    background-color:#F5F5F5;
    margin-top: 450px;
}

caption{
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
}

th{
    background-color: green;
    color:rgb(255, 255, 255);
    text-align: center;
    font-weight: 600;
}

tr{
    background-color: #dbd0e2;
    color: white;
}

td {
    color: black !important;
}